
#login {

}

#register {
    display: none;
}

.short_description_title {
    display: inline-block;
}


.short_description_expand {
    margin: 0 10px;
}

.short_description_hide {
    margin: 10px;
}